* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-main);
  background-color: var(--bg-dark);
  color: var(--text-light);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

#app {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Utils for hiding views */
.d-none {
  display: none !important;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  font-family: inherit;
  transition: all var(--transition-speed) ease;
}
