:root {
  --bg-dark: #343b44;
  --bg-light: #ffffff;
  
  --text-light: #ffffff;
  --text-dark: #343b44;
  --text-muted: #8b929a;
  
  --color-primary-yellow: #f5e466;
  --color-primary-yellow-hover: #faec89;

  --color-orange: #fe9826;
  --color-blue: #0294d3;
  --color-pink: #e91e63;
  --color-turquoise: #00bcd4;

  --font-family-main: 'Outfit', sans-serif;
  
  --border-radius: 8px;
  --transition-speed: 0.3s;
}
